:root{
  font-size: 100%;

  --color-text: #1F1534;
  --color-blue: #458FF6;
}

*, input, button, textarea{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Mulish';
}

@import 'components/header';
@import 'components/our-services.scss';
@import 'components/healthcare-providers.scss';
@import 'components/download-our-mobile-apps';
@import 'components/footer';
@import 'utils/button';