.container{

  .circle{
    grid-area: heading;
    justify-self: flex-start;
    margin-left: calc(1vh - .3rem);
    display: grid;
    grid-template: repeat(5, 10px)/repeat(3, 10px);
    grid-column-gap: 1rem;
    grid-row-gap: .9rem;

    div{
      opacity: .4;
      width: 10px;
      height: 10px;
      background: linear-gradient(338.5deg, #97C3F9 -525.42%, #93C1F9 918.63%);;
      border-radius: 50%;
    }
  }

  header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
    grid-template-areas: 'header header'
                         'heading illustration';

    img.illustration{
      grid-area: illustration;
      height: 32rem;
    }

    .heading{
      grid-area: heading;
      margin-top: 8.6rem;
      margin-left: 9.6rem;

      h1{
        width: 70%;
        font-weight: bold;
        font-size: 2.5rem;
      }

      p{
        opacity: .5;
        width: 61%;
        margin: 1.3rem 0;
      }

      button{
        padding: 1rem 2rem;
        background-color: var(--color-blue);
        border: 0;
        border-radius: 35px;
        color: white;
        font-size: .9rem;
        font-weight: bold;
        cursor: pointer;
      }
    }

    nav{
      grid-area: header;
      padding: 1.5rem 0 1.5rem 9.6rem;
      display: flex;
      align-items: center;

      ul{
        margin-left: 33%;
        display: flex;
        align-items: center;
      }

      li{
        color: var(--color-text);
        cursor: pointer;
        opacity: .5;
        
        &.active{
          font-weight: bold;
          opacity: 1;
        }

        & + li{
          margin-left: 2.6rem;
        }
      }
    }
  }
}